body {
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #db9e9e;
    color: #f0ebeb;
}

.hidden {
    display: none;
}

.faq {
    margin-top: 20px;
    cursor: pointer;
}

#formMessage {
    color: red;
    font-weight: bold;
}